pip~=24.1b1
configparser~=6.0.1
attrs~=23.2.0
wheel~=0.43.0
Pillow~=10.1.0
docutils~=0.21.2
Jinja2~=3.1.4
filelock~=3.14.0
redis~=5.1.0b5
setuptools~=69.5.1
packaging~=24.0
pyparsing~=3.1.2
zipp~=3.19.0
typing_extensions~=4.9.0
build~=0.10.0
pandas
matplotlib
jupyter
